/* https://source.unsplash.com/photo-1551009175-8a68da93d5f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMd9&auto=format&fit=crop&w=1351&q=80 */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
     border:none;
    text-transform: capitalize;
     transition: all .2s linear;   
    
}

.container{
    display: flex;
   flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-direction: row;
   
    
}

 .panele
{  
   
background-size: auto 100%;
background-position: center;
background-repeat: no-repeat;
height: 80vh;
border-radius: 50px;
color: #fff;
cursor: pointer;
flex: 1;
margin: 10px;
position: relative;
transition: flex 0.7s ease-in;
 
}
.panele h3{
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;

}
 .active h3{
     opacity: 1;
}
.active{
    flex: 5;
}
@media(max-width: 480px)
{
    .container{
        width: 100vw;
    }

    .panele:nth-of-type(4), .panele:nth-of-type(5)
    {
        display: none;
    }
}